 body,html { 
  background: #34495e;
}

.container {
    text-align:center;
    margin-top:150px;
    width:450px;
}

#submit {
    
    margin-top:20px;
    
}

#weather {
    
    margin-top:20px;
    
}
